<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>


	<connectionStrings>
     <add name="MyConnnect" connectionString="server=localhost;port=3306;database=newinfo;uid=jced;pwd=jced"
         providerName="MySql.Data.MySqlClient" />
     <add name="xxkUI.Properties.Settings.newinfoConnectionString"
         connectionString="server=localhost;user id=jced;password=jced;database=newinfo;persistsecurityinfo=True"
         providerName="MySql.Data.MySqlClient" />
 </connectionStrings>


</configuration>
